@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sidebar-width: 24rem;
    --chat-screen-width: calc(100vw - var(--sidebar-width));
    --chat-section-height: calc(100vh - 7.0625rem);
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
}